.previous,
.next {
    all: unset;
    position: absolute;
    top: 43%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s ease;
    font-size: 60px;
}

.previous {
    left: 2%;
}

.next {
    right: 2%;
}

.container{
    display: flex;
    overflow: hidden;
    gap: 1.5em;
}


.slider {
    width: fit-content;
    height: 'auto';
    display: flex;
    gap: 1.5em;
    animation: slide 220s linear infinite;
}

@keyframes slide {
    from{
        transform: translateX(-100%);
    }to{
        transform: translateX(0);
    }
}
