.previous{
    position: absolute;
    left:2%;
    top: 43%;
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s ease;
    font-size: 35px;
    font-weight: 800;
}

.next{
    position: absolute;
    right:2%;
    top: 43%;
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s ease;
    font-size: 35px;
    font-weight: 800;
}

.container:hover .previous, .container:hover .next{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
 }